/**
 * Place your custom styles here.
 */

/*Front page design*/
#panels-ipe-paneid-33{
  padding-left:10%;
  padding-right: 10%;}

body{
  background: url(grey.png) no-repeat center center
  fixed;
  background-size: contain;
  /*height:100%;*/
}

/*Menu bar is changing style */

.navbar{
    position: inherit;
    z-index:1;
    padding: 0;
    margin-top: 0 auto;
    width: 100%;
    height:50px;
}


.navbar.container{
  margin-top: 0 auto;
  max-width: 100%;
  background-color: #00000000;
  border: none;
}
.navbar-collapse{padding-left: 0; padding-right: 0;}

.navbar.container,.navbar.container-fluid{margin:0;}

/*Center menu*/

.sf-menu.sf-style-white{
  display:flex;
  justify-content: center;
  float: none;
  // remove float: left;
}


.sf-menu li{
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  float: none;
  // remove float: left;
}


/*.sf-menu.sf-style-white li{
  opacity:.5;
  filter: alpha(opacity(50);
}
.sf-menu a{color:#000000;}

.sf-depth-1.active{color: #000000;}*/

/*----------------------------------------------------------------------*/


/*Does something with the properties page*/
.panels-ipe-paneid-24.panels-ipe-portlet-content{
  display:none;
}

.contextual-links-wrapper.contextual-links-procesed h2 {
    display: none;}

.block-system-main.panel-col-last.panel-panel{
  width: 100%;
  height: 100%;
}

/*make map fit half the screen*/
.container{width:100%}
.col-sm-12{width:100%  }
#gmap-auto2map-gmap0.gmap-control.gmap-gmap.gmap.gmap-map.gmap-auto2map-gmap.gmap-processed {width:100% !important;}




/*Changing webform into two columns and removing background*/
.webform-component-fieldset {width:50%; float:left;}
.webform-component-fieldset legend {display:none;}
.webform-component-fieldset.panel-default{
  border-color: #00000000;
}
.webform-component-fieldset.panel{-webkit-box-shadow:0 0 0px rgba(0, 0, 0, .05); }


.form-textarea-wrapper textarea {
  width: auto;
}
/*.main-container.container.row.col-sm-3.region.region-sidebar-first.well {*/
.col-sm-3 {
    width: 35%;
    padding-top: 2%;
}
.col-sm-9{
  width: 50%;
  padding-top: 2%;
}

  .region.region-sidebar-first.well{
    min-height: 0px;
    /*padding: 0px;*/
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
    background-color: #00000000;
    border: 1px solid #00000000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .05);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .05);
}






.block-system-main{width:50%; float:left;}
.node-6.webform-client-form.webform-client-form-6.{width: 50%; float:left;}


.node-6.header{
  display: none;
}

.main-container.container {
        background-color: #FFFFFF;
        padding: 7px;
        width: auto;
        height: auto;
        margin-bottom: 10px;
    }



/*Hover panel in resources/internet */

/*Gets rid of carousel gradient */
.carousel-control.right{background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, .0001) 100%);}
.carousel-control.left{background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, .0001) 100%);}
